<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📝</text></svg>">
    <link rel="stylesheet" href="/assets/CSS/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap" rel="stylesheet">

    <title>Variables</title>
</head>

<body>
    <nav>
        <a class="home-button" href="/">📝 cheatsheet</a>
    </nav>

    <h1>Variables</h1>

    <View>

        <div class="theme">

            <div id="theme-container">
                <h2>Theme name</h2>
                <p>Theme intro</p>

                <div class="text-container">
                    <h3>What</h3>
                    <p>About what</p>

                    <code>
                    <pre>
    // Example:
                    </pre>
                </code>
                </div>


            </div>

            <div id="side-by-side-example"> // Example of what side by side
                <code>
                        <pre>

    // Example:
                        </pre>
                     </code>

                <code>
                         <pre>

    // Example
                          </pre>
                    </code>

            </div>
        </div>

    </View>

    <footer>
        <p id="footer-copyright"></p>
    </footer>

    <script src="assets/js/footer.js"></script>

</body>

</html>